<h1>Welcome, <%= current_user.username %>!</h1>

<h2>Total of <%= @all_repos %> Repos:</h2>

<h4>Private Repos: (<%= @private_repos.count %>)</h4><% @private_repos.each do |private| %>
  <li><%= link_to "#{private.name}", "#{private.url}" %></li>
<% end %>
<h4>Public Repos: (<%= @public_repos.count %>)</h4><% @public_repos.each do |public| %>
  <li><%= link_to "#{public.name}", "#{public.url}" %></li>
<% end %>
